.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background: #fff;
  border-radius: 16px;
  width: 100%;
  max-width: 734px;
  padding: 62px 86px 38px;

  @media (max-width: 760px) {
    padding: 0;
  }
}
